body {
  background-color: var(--dark-black);
  color: var(--white);
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Buttons */
.addButton,
.stopButton,
.addFieldButton {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.stopButton {
  background-color: var(--light-orange);
}

/* Card */
.card {
  background-color: var(--dark-black-shade);
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

.card label {
  color: var(--light-orange-text);
  display: block;
  margin-bottom: 5px;
}

/* Input Field Styles */
.card input[type='text'],
.card input[type='number'],
.card input[type='email'],
.card select,
div[key] input {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: var(--dark-gray);
  color: var(--white);
}

/* Align radio buttons and checkboxes */
.card input[type='checkbox'],
.card input[type='radio'] {
  display: inline;
  margin-top: -49px;
  margin-left: 155px;
  vertical-align: middle;
}

.card select {
  color: var(--white);
}

/* Fields */
div[key] {
  margin: 10px 0;
}

div[key] label {
  color: var(--light-orange-text);
  margin-bottom: 5px;
  display: block;
}

.Entered-Detailes {
  font-size: 20px;
  color: var(--dark-orange);
}

.for-data-display {
  background-color: var(--dark-black-shade);
  border-radius: 10px;
  padding: 10px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
