body {
  background-color: var(--background-black);
  color: var(--text-white);
}

.animated-card {
  background-color: var(--light-black);
  box-shadow: var(--card-shadow);
}

.animated-card h2 {
  color: var(--text-white);
}

.animated-card p {
  color: var(--text-light-gray);
}

.animated-card-button {
  background-color: var(--button-orange);
}

.animated-card-button:hover {
  background-color: var(--button-hover-orange);
}
