/* Global Colors */
:root {
  --background-black: #000; /* Black background */
  --text-white: #fff; /* White text */

  --light-black: #333; /* Light black shade */
  --text-light-gray: #aaa; /* Light gray text */

  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */

  --button-orange: orangered; /* Orange shade for buttons */
  --button-hover-orange: #a63a08; /* Darker shade of orange on hover */

  --dark-black: #121212;
  --white: #fff;
  --orange: #ff944d;
  --light-orange: #e68a4a;
  --dark-black-shade: #1f1f1f;
  --light-orange-text: #ff9f80;
  --dark-orange: #ff944d;
  --dark-gray: #333;
}